/*styles go here*/

/*p {
    color: red;
}*/

p {
	color: #666666;
    font-family: Helvetica, Arial, sans-serif;
		font-size: 20px;
}

h1 {
    font-family: "Staatliches", "Times New Roman", serif;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
		display: flex;
		height: 200px;
		justify-content: space-around;
		align-items: center;
		background-color: #98bf21;
}

.container {
	display: flex;
	flex-direction: column;
	align-content: center;
}

@media (max-width: 600px){
	#nav {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
}

#nav li {
    margin: 0;
    padding: 0;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: #ffffff;
    background-color: #98bf21;
		font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: "Cinzel", Arial, sans-serif;
}

#nav a:hover, #nav a:active {
    background-color: #7a991a;
}

.caption {
    color: black;
    font-family: "Oswald", "Times New Roman", serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: right;
}

#footer {
    color: black;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none;
}
@media screen and (min-width: 600px) {
  #container {
    width: 80%;
  }
  .authorbox img {
    display: block;
    width: 100%;
    margin-top: 0.5em;
  }
  .authorbox {
    width: 25%;
    float: left;
    margin-right: 20px;
  }
}

@media screen and (min-width: 800px) {
  .item1 {
    margin-right: auto;
  }
  nav ul li {
    margin: 5px;
  }
  .pullquote {
    display: block;
  }
}

@media screen and (max-width:600px) {
	.authorbox img{
		width: 50%;
	}
}

@media screen and (min-width: 1000px) {
  article {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap: 30px;
    grid-template-areas:
        "a b b"
        "c c e"
        ". d d";
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .section1 {
    grid-area: b;
  }

  .image {
		width: 100%;
    grid-area: e;
  }

  .section2 {
    grid-area: d;
  }

  .pullquote {
    margin-top: 0;
		font-size: 36px;
    grid-area: c;
  }
}
